<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/libs/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/aspectjrt-1.9.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/aspectjweaver-1.9.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/cglib-3.3.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-aop-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-aspects-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-beans-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-context-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-context-support-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-core-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-expression-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-instrument-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-jdbc-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-jms-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-messaging-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-orm-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-oxm-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-test-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/libs/spring-tx-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>